In [1]:
import pandas as pd
from deep_translator import GoogleTranslator

In [2]:
df = pd.read_csv("data.csv")

In [3]:
hostAbout= df["host_about"]

In [25]:
hostAbout[33704]

'Bonjour, je m’appelle Crissa.\nJe suis Franco-espagnole et vis à Paris.\rJe parle français, espagnol, anglais et italien et ce sera un plaisir de vous accueillir. Je partagerai avec vous mes meilleures adresses afin de vous faire vivre la meilleure expérience à Paris.'

In [5]:
len(hostAbout)

84397

In [ ]:
def translate_to_english(text):
    try:
        translated_text = GoogleTranslator(source='auto', target='en').translate(text)
        return translated_text
    except Exception as e:
        print("Error translating text:", text)
        print("Error:", e)
        return None

In [ ]:
translated_host_about = hostAbout.apply(translate_to_english)

df["hostAbout"] = translated_host_about

df.to_csv("translated_data.csv", index=False)

In [26]:
df2 = pd.read_csv("translated_data.csv")

In [27]:
hostAbout2= df2["hostAbout"]
len(hostAbout2)

33705

In [31]:
hostAbout2[33704]

'I work for a Parisian real estate agency, which offers medium-term rentals in Paris from 1 to 10 months as part of the mobility lease.\n\nOur agency is located in Paris 15, at 14 rue Falguière, and has a financial guarantee of €260,000 in rental management and €120,000 in transactions.\nRCS Paris five two nine one one eight seven eight eight.\n\nI work for a Parisian real estate agency, which offers medium-term rentals in Paris from 1 to 10 months under the mobility lease.\n\nOur agency is located in Paris 15, at 14 rue Falguière, and has a fina'

In [32]:
df.loc[:33704, "host_about"] = hostAbout2

# Verify the changes
print(df["host_about"].head())

0                                                  NaN
1    found of life , I'm curious about  all types o...
2    We have spent a lot of time traveling for work...
3    It is always a pleasure to meet new people aro...
4    We are a French family of four. My wife is a u...
Name: host_about, dtype: object

In [43]:
df["host_about"].fillna("No description", inplace=True)

In [44]:
df.head()

,host_about,review_scores_communication,review_scores_rating,host_listings_count
0,No description,5.00,5.00,1.0
1,"found of life , I'm curious about all types o...",4.89,4.68,1.0
2,We have spent a lot of time traveling for work...,4.84,4.60,2.0
3,It is always a pleasure to meet new people aro...,4.79,4.56,1.0
4,We are a French family of four. My wife is a u...,4.97,4.86,1.0

In [45]:
df.to_csv("first_data.csv", index=False)